build.properties
.idea
*.iml
bin
dependencies
war
.gwt
.project
.classpath
.settings
.gwt-tmp
tomcat
gwt-unitCache
*.pyc
.DS_Store
*.egg-info
*/dist/
*/build/
*/synnefo/pithos/webclient/version.py
*/synnefo/pithos/webclient/templates/pithos_webclient/*
*/synnefo/pithos/webclient/static/pithos_webclient/*
distribute*.tar.gz
distribute*.egg
docs/build
pithos-web-client.sublime-project
pithos-web-client.sublime-workspace
.ant_targets
.DS_Store
out
__gitstats
