build.properties
.idea
*.iml
bin
dependencies
war
.gwt
.project
.classpath
.settings
.gwt-tmp
tomcat
gwt-unitCache
*.pyc
.DS_Store
*.egg-info
*/dist/
*/build/
*/pithos_webclient/version.py
*/pithos_webclient/templates/pithos_web_client/*
*/pithos_webclient/static/pithos_web_client/*
distribute*.tar.gz
distribute*.egg
docs/build
pithos-web-client.sublime-project
pithos-web-client.sublime-workspace
