body {
	background-color: #bec8e6;
	color: black;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size: small;
	margin: 8px;
	margin-top: 3px;
}

a {
	color: darkblue;
}

a:visited {
	color: darkblue;
}

.hidden-link {
	text-decoration: none !important;
	color: black !important;
}

.hidden-link:visited {
	text-decoration: none !important;
	color: black !important;
}

.pithos-TopPanel {
	font-size: 100%;
}

.pithos-TopPanelLinks {
	font-size: 100%;
}

.pithos-AboutText {
	width: 24em;
	/* Restore the padding we remove when overriding the gwt-DialogBox style */
	padding: 3px;
}

.pithos-Groups {
	background-color: white;
	font-size: 80%;
}

.toolbar {
	border: 1px solid #AAAAAA;
	background-color: white;
	font-size: 80%;
	cursor: pointer;
}

.toolbarmenu {
	font-size: 80%;
	cursor: pointer;
}

.statusbar-inner {
	border: none;
	font-size: 90%;
	vertical-align: middle;
	font-weight: normal;
}

.pithos-List {
	background-color: white;
	font-size: 80%;
	cursor: default;
	border-collapse: collapse;
	/* prevents selecting text in table with shift and ctrl*/
	-moz-user-select: none;
}
.pithos-List thead tr{
	border: 1px lightblue solid;
	}
	
	.GK31MSKBKG{
	border-bottom:none;
	}
.pithos-ListHeader {
	
	background-color: #E0EDFE;
	font-weight: bold;
	cursor: pointer;
}

.pithos-searchLabel {
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	padding:5px;
}

.pithos-ListNavBar {
	font-size: 80%;
}

.pithos-SelectedRow {
	background-color: #E0EDFE;
}
.pithos-fileRow{
	cursor: pointer;
}

.pithos-Toolbar {
}

.pithos-ToolButton {
	font-size: 80%;
	width: 10em;
}

.props-labels {
	font-size: 80%;
	font-weight: bold;
}

.props-toplabels {
	font-size: 80%;
	font-weight: bold;
	font-style: italic;
}

.props-values {
	font-size: 80%;
}

.pithos-errorMessage {
	font-size: 90%;
	background-color: #ff9999;
	cursor: pointer;
}

.pithos-warnMessage {
	font-size: 90%;
	background-color: #eeee99;
	cursor: pointer;
}

.pithos-infoMessage {
	font-size: 90%;
	background-color: #ccffcc;
	cursor: pointer;
}

.pithos-clearMessage {
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.pithos-clearMessage:visited {
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.pithos-search {
	color: black;
}

.pithos-search-empty {
	color: #d3d3d3;
}

.pithos-DialogBox {
}

.pithos-readForAllNote {
	width: 240px;
	text-align: justify;
	font-style: italic;
	font-size: 12px;
	padding-left: 4;
}

/* Tooltips */
a.info {
	position: relative; /*this is the key*/
	z-index: 24;
	color: black;
	text-decoration: none
}

a.info:hover {
	z-index: 25;
	background-color: yellow;
}

a.info div {
	display: none
}

a.info:hover span {
	cursor: pointer;
}

/* The span will only display on :hover state. */
a.info:hover div {
	display: block;
	position: absolute;
	bottom: 2em;
	right: 1em;
	width: 10em;
	border: 1px solid lightblue;
	background-color: #D0E4F6;
	color: black;
	text-align: center
}

table.pithos-permList.props-labels {
	font-weight: bold;
}

table.pithos-permList {
	border-spacing: 3px;
	border-collapse: collapse;
	
}

table.pithos-permList td {
	padding: 5px 5px 5px 5px;
	font-size:80%;
}

.progressbar-text {
	font-weight: bold;
}

.progressbar-remaining {
	font-size: 12px;
	font-style: italic;
}

.progressbar-outer {
}

.progressbar-inner {
	border: 1px solid darkgrey;
	margin: 1px;
}

.progressbar-bar {
	width: 5px;
	height: 15px;
	margin: 0px;
}

.progressbar-fullbar {
	background: #E0EDFE;
}

.progressbar-blankbar {
	background: white;
}

.pithos-uploadNote {
	text-align: justify;
	font-style: italic;
	font-size: 12px;
	padding-top: 16;
	padding-bottom: 16;
	padding-right: 4;
	padding-left: 4;
}

.pithos-MainTabBar {
	padding-top: 4px;
}

.pithos-MainTabPanelBottom {
	border-bottom: none;
	border-left: none;
	border-right: none;
	overflow: hidden;
	padding: 6px;
}

.pithos-TabPanelBottom {
	border-color: darkgrey;
	border-width: 1px 1px 1px;
	overflow: hidden;
	padding: 6px;
}

.pithos-splitPanel {
	background-color: white;
	border: 1px solid darkgrey;
}

.pithos-tag {
	display:inline;
}

/* Use the background color for the splitter. */
.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px; 
	background: #bec8e6;
}

/* Avoid extended background color in tree nodes. */
.gwt-TreeItem-selected .gwt-HTML {
	display: inline;	
}

/*
 * Remove the padding inside the dialog boxes so that our background color
 * appears uniform in warnings and errors.
 */
.gwt-DialogBox .dialogMiddleCenter {
	background:none repeat scroll 0 0 white;
	padding: 0;
}

.droppableHover {
        background-color: #C1DEFD;
}
