/*
 * Copyright 2011-2012 GRNET S.A. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or
 * without modification, are permitted provided that the following
 * conditions are met:
 *
 *   1. Redistributions of source code must retain the above
 *      copyright notice, this list of conditions and the following
 *      disclaimer.
 *
 *   2. Redistributions in binary form must reproduce the above
 *      copyright notice, this list of conditions and the following
 *      disclaimer in the documentation and/or other materials
 *      provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY GRNET S.A. ``AS IS'' AND ANY EXPRESS
 * OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL GRNET S.A OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
 * USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
 * AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *
 * The views and conclusions contained in the software and
 * documentation are those of the authors and should not be
 * interpreted as representing official policies, either expressed
 * or implied, of GRNET S.A.
 */
body {
	color: black;
	font: 13px Verdana, 'PT Sans', sans-serif;
	margin: 8px;
	margin-top: 3px;
	background-color: transparent;
}

table td {
	font: 13px Verdana, 'PT Sans', sans-serif;
}

.pithos-outer {
	background: url(images/background.png) repeat-x;
}

a {
 	color: white;
 	text-decoration: none;
} 
 
a:hover {
	color: white;
}

a:visited {
	color: white;
}

a.info {
	position: relative; /*this is the key*/
	z-index: 24;
	color: black;
	text-decoration: none
}

a.info:hover {
	z-index: 25;
	background-color: yellow;
}

a.info div {
	display: none
}

a.info:hover span {
	cursor: pointer;
}

/* The span will only display on :hover state. */
a.info:hover div {
	display: block;
	position: absolute;
	bottom: 2em;
	right: 1em;
	width: 10em;
	border: 1px solid lightblue;
	background-color: #D0E4F6;
	color: black;
	text-align: center
}

.pithos-DialogBox .inner form {
	margin: 0px;
	clip: 
}

.pithos-dialogbox .inner form input,
.pithos-dialogbox .inner form textarea
{
    border: 1px solid #aaa;
    padding:4px;
}

.pithos-DialogBox .button {
	background: none;
	background-color: #4085A5;
	color: white;
	padding: 5px 6px;
	white-space: nowrap;
}

.pithos-DialogBox .Caption {
	color: white;
	background-color: #4085a5;
	padding: 20px;
	border-bottom: 1px solid white;
}

.pithos-DialogBox .close {
	background: url(images/close-popup.png) no-repeat;
	cursor: pointer;
	position: absolute;
	width: 13px;
	height: 13px;
	top: 12px;
	right: 7px;
}

.pithos-DialogBox .dialogMiddleCenter {
	background: url(images/popup-bg.png) repeat-x;
	background-color: white;
	padding: 3px;
}

.pithos-DialogBox .dialogBottomCenter {
	border-bottom: 5px solid #4085A5;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -55px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -55px;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
	background: #D0E4F6;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
	background: #D0E4F6;
	color:#d45500;
}
.pithos-TabPanelBottom {
	border: none;
}

table.pithos-permList {
	border-spacing: 3px;
	border-collapse: collapse;

}

table.pithos-permList td {
	padding: 5px 5px 5px 5px;
	font-size:80%;
}

table.pithos-permList.props-labels {
	font-weight: bold;
}

.props-labels {
	font-size: 80%;
	font-weight: bold;
}

.props-toplabels {
	font-size: 80%;
	font-weight: bold;
	font-style: italic;
}

.props-values {
	font-size: 80%;
}

.hidden-link {
	text-decoration: none !important;
	color: black !important;
}

.hidden-link:visited {
	text-decoration: none !important;
	color: black !important;
}

.pithos-topPanel {
	background-color: #4085a5;
	font-size: 75%;
	height: 59px;
	border-bottom: 1px solid white;
}

.gwt-MenuBar-vertical {
	background: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: none;
	background-color: #D0E3ED;
}

.gwt-popuppanel {
    border: 3px solid #D0E3ED;
    padding: 3px;
    background: #D0E3ED;
    border-image: initial;
}

.gwt-MenuBar .gwt-MenuItem {
	border-bottom: 1px solid #EFEFEF;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background-color: #E1EFF6;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: none;
	background-color: #D0E3ED;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: none;
	background-color: #D0E3ED;
}

.pithos-sessionExpired {
	width: 24em;
	/* Restore the padding we remove when overriding the gwt-DialogBox style */
	padding: 3px;
}

.pithos-statusbar {
	background-color: #4085a5;
	border: none;
	font-size: 90%;
	vertical-align: middle;
	font-weight: normal;
	height:119px;
	color: white;
}

.pithos-FileListContainer {
    padding-left: 10px;
}

.pithos-List {
	cursor: default;
	border-collapse: collapse;
	/* prevents selecting text in table with shift and ctrl*/
	-moz-user-select: none;
}

.pithos-errorMessage {
	font-size: 90%;
	background-color: #880000;
	color: #fff;
	cursor: pointer;
}

.pithos-errorMessage td {
	font-size: 90%;
}

.pithos-warnMessage {
	font-size: 90%;
	background-color: #eeee99;
	cursor: pointer;
}

.pithos-infoMessage {
	font-size: 90%;
	background-color: #ccffcc;
	cursor: pointer;
}

.pithos-clearMessage {
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding-left: 5px;
}

.pithos-clearMessage:visited {
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.pithos-readForAllNote {
	width: 240px;
	text-align: justify;
	font-style: italic;
	font-size: 12px;
	padding-left: 4;
}

.pithos-treeHeader {
	background-color: #74aec9;
	height: 25px;
    width: 100%;
}

.pithos-statistics {
	color: white;
	padding: 5px;
}

.pithos-splitPanel {
	background: url(images/white50.png) transparent;
	margin-bottom: 34px;
}

.pithos-splitPanel-noframe {
	margin-bottom: 0;
}

/* Use the background color for the splitter. */
.gwt-HorizontalSplitPanel .hsplitter {
	cursor: move;
	border: 0px;
	background: url(images/background.png) repeat-x;
}

.pithos-tag {
	display:inline;
}

.pithos-uploadButton {
	background: none;
	background-color: #ff7f2a;
    font-size: 120%;
    text-align: center;
    height: auto;
    padding: 8px;
    width: 127px;
    border: 0px;
}

.pithos-uploadButton-loading {
	background: url(images/ajax-loader.gif) no-repeat;
	background-position: 110px 0px;
	background-color: #ff7f2a;
}

.pithos-uploadButton:HOVER {
    background-color: #f95;
}

.pithos-rightSide {
    vertical-align: middle;
    width: 100%;
    padding-left: 7px;
}
.pithos-parentButton {
    background: none;
    background-color: #a1c8da;
}

.pithos-folderStatistics {
    background-color: #a1c8da;
    text-align: center;
    color: white;
    height: 32px;
	padding: 5px 15px;
	margin-right: 10px;
	margin-left: 10px;
}

.grnet-sign {
	color: #72ADC8;
}

.pithos-logo {
	position: absolute;
	top: 65px;
}

.pithos-header {
	background: url(images/white50.png);
	margin-top: 34;
	height: 60px;
}

.pithos-header-noframe {
	margin-top: 0;
}

/*.cellTreeWidget-selectedTree {
    background-color: #BCD7E3;
}*/

.pithos-list thead th img {
    top: 5px !important;
}

.effectPanel-inner {
	background-color: #4085A5;
	margin: 10px;
}

.clearfix {
	display: block;
	width: auto;
	zoom: 1;
}

div#toolbar {
	clear: both;
	color: white;
	float: right;
/*	position: absolute;
	right: 15px;
	top: 15px;*/
}

div#toolbar a {
	display: block;
	float: left;
}

.pithos-toolbarItem {
	text-decoration: none;
	font-size: 0.8em;
	padding: 4px;
	padding-right: 8px;
	color: white;
	margin-left: 5px;
	background-repeat: no-repeat;
	background-color: #A1C8DB;
}

.pithos-toolbarItem:HOVER {
	background-color: #74aec9;
}


.pithos-toolbarItem span {
	float: left;
	padding-top: 2px;
}

.pithos-toolbarItem span.ico {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background-repeat: no-repeat;
/*	background-position: -36px 0;*/
}

#tools-button span.ico {
	background-image: url(images/advancedsettings.png);
}

#refresh-button span.ico {
	background-image: url(images/refresh.png);
}

#newFolder-button span.ico {
	background-image: url(images/folder_new.png);
}

#shareFolder-button span.ico {
	background-image: url(images/myshared22.png);
}

/*move background from inner to centerinner to wrap action buttons too*/
.dialogMiddleCenterInner.dialogContent  {
    background: url(images/white50.png); 
    margin: 7px;
    padding: 15px;
    /*border: 1px solid #aaa;*/
    -moz-box-shadow: 0 0 1px 1px #888;
    -webkit-box-shadow: 0 0 1px 1px #888;
    box-shadow: 0 0 1px 1px #888;
}

.pithos-dialogbox .outer {
    width: 600px;
}

/*remove background/padding from .inner*/
.pithos-dialogbox .inner {
    background: none;
    padding:0;
    width: 100%;
}

/*button position within the overlay content*/
.dialogMiddleCenterInner .button {
    margin-left: 2px;
    border: none;
    padding: 7px 20px;
    margin-top: 10px;
    float: right;
    margin-right: 4px;
}

/* fix placement of overlay paragraphs */
.pithos-credentialstext {
    padding: 0 0 10px 0;
}

/* overlay styles */
.pithos-dialogbox {
    background-color: white;
    border: 2px solid #444;
    text-align: left;
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px 5px #000;
    box-shadow: 0 0 90px 5px #000;
	clip: inherit !important;
}

/* hide overlay dialogue unneeded side elements */
.dialogMiddleRight, .dialogBottomRight, .dialogTopRight,
.dialogMiddleLeft, .dialogBottomLeft, .dialogTopLeft,
.dialogBottomCenter {
    display: none;
}

/* fix dialogbox caption padding and font-size */
.pithos-dialogbox .caption {
    padding: 10px !important;
    font-size: 1.1em;
}


/* form input styling */
.dialogMiddleCenterInner input {
    border: 1px solid #aaa;
    padding: 4px;
}

/* fix tag color */
a.pithos-tag {
    color: #4085a5;
}

.pithos-invitationsLeft {
    padding: 0 0 10px 0;
	border-bottom: 1px solid #4085A5;
}

.pithos-leftInvitationsNumber {
	background-color: #4085A5;
	padding: 3px;
	color: white;
	font-weight: bold;
}

.pithos-sendInvitationsPanel {
	margin-top: 10px;
	border-right: 1px solid #4085A5;
	padding-right: 5px;
}

.pithos-sendInvitationsTitle {
	font-weight: bold;
	color: #4085A5;
	margin-right: 10px;
}

.pithos-addInvitationImg {
	background-color: #4085A5;
	padding: 5px;
	cursor: pointer;
}

.pithos-invitationResponse {
	background-color: green;
	color: white;
	padding: 5px;
}

.pithos-invitationResponseError {
	background-color: #880000;
	color: #fff;
	padding: 5px;
}

.pithos-invitationResponse .user {
	font-weight: bold;
}

.props-labels .eg {
	font-weight: normal;
	color: gray;
}

.pithos-invitationsSplitPanel {
	width:100%;
}

.pithos-invitationDeleteImg {
	cursor: pointer;
}

.pithos-invitationFormRow {
	border-top: 1px solid gray;
}

.pithos-sendInvitationButton {
    background: none;
    background-color: #ff7f2a;
    text-align: center;
    height: auto;
    padding: 8px;
    border: none;
    color: white;
}

.pithos-sentInvitationsPanel {
	margin-top: 10px;
	padding-left: 5px;
	width: 100%;
}

.pithos-sentInvitationsTitle {
	font-weight: bold;
	color: #4085A5;
}

.pithos-sentInvitationsTable {
	width: 100%;
}

.pithos-invitedEmail {
	color: #ff7f2a;
	font-weight: bold;
}

.pithos-invitedEmailBorder {
	border-bottom: 1px solid #4085A5;
}

.pithos-resendInvitation {
	cursor: pointer;
}

.pithos-pagerButton {
	background: none;
	background-color: transparent;
	border: 1px solid gray;
	color: gray;
	padding: 0px 2px 0px 2px;
	font-size: 80%;
}

.pithos-pagerButton:HOVER {
	background-color: #4085A5;
	color: white;
}

.pithos-pagerButtonCurrent {
	background-color: #4085A5;
	color: white;
}

.pithos-metaTitle {
	font-weight: bold;
}

.pithos-addMetaImg {
	background-image: url(images/plus.png);
	background-color: #4085A5;
	background-repeat: no-repeat;
	background-position: center;
	padding: 8px;
	cursor: pointer;
}

.pithos-metaDeleteImg {
	background: url(images/delete.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px;
	cursor: pointer;
}

.pithos-metaName {
	width: 7em;
}

.pithos-metaValue {
	width: 7em;
}

.pithos-versionList {
	padding-right: 5px;
}

.pithos-folderTreeSection {
	padding-left: 10px;
}

.pithos-folderTreeSectionContent {
	padding: 4px 0px 4px 8px;
	margin-left: 6px;
}