#!/usr/bin/make -f

%:
	dh $@ --with python2

package=snf-pithos-webclient
static_dir=debian/$(package)/usr/share/synnefo/static/
pkg_static_dir=pithos_webclient/static/pithos_webclient/
config_lvl=20

override_dh_auto_install:
	dh_auto_install
	
	mkdir -p $(static_dir)pithos_webclient;
	-mv $(pkg_static_dir) $(static_dir);
	
	mkdir -p debian/$(package)/etc/synnefo
	-mv conf/*.conf debian/$(package)/etc/synnefo

