<?xml version="1.0" encoding="UTF-8"?>
<web-app>
		<error-page>
			<error-code>
		    503
	        </error-code>
	        <location>
	            /error503.html
	        </location>
	    </error-page>
		<error-page>
			<error-code>
		    502
	        </error-code>
	        <location>
	            /error502.html
	        </location>
	    </error-page>
		<error-page>
			<error-code>
		    403
	        </error-code>
	        <location>
	            /error403.html
	        </location>
	    </error-page>

		<filter>
		 	<filter-name>CacheFilter</filter-name>
		 	<filter-class>org.gss_project.gss.server.CacheFilter</filter-class>
		</filter>
		<filter-mapping>
		 	<filter-name>CacheFilter</filter-name>
		 	<url-pattern>/*</url-pattern>
		</filter-mapping>

        <servlet>
                <servlet-name>Login</servlet-name>
                <servlet-class>org.gss_project.gss.server.Login</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>Policy</servlet-name>
                <servlet-class>org.gss_project.gss.server.Policy</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>Registration</servlet-name>
                <servlet-class>org.gss_project.gss.server.Registration</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>Invitations</servlet-name>
                <servlet-class>org.gss_project.gss.server.Invitations</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>CouponHandler</servlet-name>
                <servlet-class>org.gss_project.gss.server.CouponHandler</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>CouponVerifier</servlet-name>
                <servlet-class>org.gss_project.gss.server.CouponVerifier</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>NonceIssuer</servlet-name>
                <servlet-class>org.gss_project.gss.server.NonceIssuer</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>TokenRetriever</servlet-name>
                <servlet-class>org.gss_project.gss.server.TokenRetriever</servlet-class>
        </servlet>
        <servlet>
                <servlet-name>RESTHandler</servlet-name>
                <servlet-class>org.gss_project.gss.server.rest.RequestHandler</servlet-class>
				<init-param>
					<param-name>input</param-name>
					<param-value>4096</param-value>
				</init-param>
				<init-param>
					<param-name>output</param-name>
					<param-value>4096</param-value>
				</init-param>
        </servlet>

        <servlet-mapping>
                <servlet-name>Login</servlet-name>
                <url-pattern>/login</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>Policy</servlet-name>
                <url-pattern>/policy</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>Registration</servlet-name>
                <url-pattern>/register</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>Invitations</servlet-name>
                <url-pattern>/invites</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>CouponHandler</servlet-name>
                <url-pattern>/coupon</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>CouponVerifier</servlet-name>
                <url-pattern>/submitCoupon</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>NonceIssuer</servlet-name>
                <url-pattern>/nonce</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>TokenRetriever</servlet-name>
                <url-pattern>/token</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
                <servlet-name>RESTHandler</servlet-name>
                <url-pattern>/rest/*</url-pattern>
        </servlet-mapping>
</web-app> 